* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  color: #3f527f;
}

.container {
  width: 1600px;
  max-width: 1200px;
  margin: auto;
}


.logo img{
    background-position: 120px 13px, bottom right;
    display: flex;
}
.nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 16px 0;
}

.nav-center {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.nav-center a {
  text-decoration: none;
  color: #334155;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-center a:hover {
  color: #3b7f5c;
}

